<h2><%= @definition.word.term %>: <%= @definition.definition %></h2>

<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for='def_entry'>Type a new description here</label>
  <input id='def_entry' name='def_entry' type="text" class="form-control">
  <button type="submit">I'm all done</button>
</form>

<br>
<br>
<br>


<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">I don't want this description at all. Delete it!</button>
</form>

<a href="/words/<%= @definition.word.id %>">Back to <%= @definition.word.term %></a>
