<h2><%= @definition.word.term %>: <%= @definition.definition %></h2>

<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <h3>If you don't like that definition, type a new version here.</h3>
  <input id='def_entry' name='def_entry' type="text" class="form-control" required="true">
  <br>
  <button type="submit" class="btn btn-info btn-lg">All done</button>
</form>

<br>
<br>
<br>


<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-info btn-lg">I don't want this description at all. Delete it!</button>
</form>

<h4><a href="/words/<%= @definition.word.id %>">Back to <%= @definition.word.term %></a></h4>
