<h2>Animal: <%= @word.term %></h2>



<h3>Type your description of this animal here.</h3>

  <% if @word.definitions %>
    <ul>
      <% @word.definitions.each do |definition| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.definition %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no descriptions listed for this animal yet.</p>
  <% end %>


<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <input id="definition_term" name="definition_term" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add my description</button>
</form>

<br>
<br>
<br>


<p><a href="/words/<%= @word.id %>/edit">Edit animal name</a></p>
<a href="/words">Return to animal list</a>
